.btn{
  cursor:pointer;
}

.form-control{
  background-color: #141414;
  border:none;
  color: #c7c7c7;
}

.form-group{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.teste{
  color: white;
}
